
/* Continuous 2px Solid Border for Client-Side Decorated Windows */
window.ssd decoration,
window.csd decoration,
window.csd,
decoration {
    border: 2px solid #2979ff;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 176, 255, 0.4), 0 0 2px #2979ff;
}

headerbar,
.titlebar {
    border-top: 2px solid #2979ff;
    border-left: 2px solid #2979ff;
    border-right: 2px solid #2979ff;
}
