[Desktop Entry]
Type=Application
Exec=/bin/bash -c "DISPLAY=:0 python3 %h/.local/bin/dragon-window-animator.py"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Dragon Window Animator
Comment=Kali Dragon Window Animator Daemon
